<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <h5>Social network</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="down__menu" href="https://vk.com/i.dybovsky">VK</a></li>
            <li class="mb-1"><a class="down__menu" href="https://github.com/ilyaDyb">GitHub</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Parser/API</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="down__menu" href="https://www.habr.com/">Parser site</a></li>
            <li class="mb-1"><a class="down__menu" href="https://yandex.ru/dev/weather/">API Weather</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="down__menu" href="http://127.0.0.1:5000/info">Info</a></li>
          </ul>
        </div>
      </div>
    </footer>
</div>