<header class="d-flex flex-row bd-highlight">
  <ul class="nav nav-pills">
     {% if current_user.is_authenticated %}
      <li class="nav-item"><a href="{{ url_for('news.index') }}" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="{{ url_for('user.logout') }}" class="nav-link">Logout</a></li>
      {% if current_user.is_admin %}
            <li class="nav-item"><a href="{{ url_for('admin.admin_index') }}" class="nav-link">Admin</a></li>
      {% endif %}
    {% else %}
        <li class="nav-item"><a href="{{ url_for('news.index') }}" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{{ url_for('user.register') }}" class="nav-link" aria-current="page">Sign up</a></li>
        <li class="nav-item"><a href="{{ url_for('user.login') }}" class="nav-link">Login</a></li>
    {% endif %}
  </ul>
  {% if current_user.is_authenticated %}
      <span class="menu__user-link"><a href="#" class="menu__user-link">{{ current_user.username }}</a></span>
  {% endif %}
</header>