<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{  page_title  }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body class="text-bg-dark">
  <header class="d-flex flex-row-reverse bd-highlight">
      <ul class="nav nav-pills">
         {% if current_user.is_authenticated %}
          <li class="nav-item"><a href="{{ url_for('news.index') }}" class="nav-link active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="{{ url_for('user.logout') }}" class="nav-link">Logout</a></li>
          {% if current_user.is_admin %}
                <li class="nav-item"><a href="{{ url_for('admin.admin_index') }}" class="nav-link">Admin</a></li>
          {% endif %}
        {% else %}
            <li class="nav-item"><a href="{{ url_for('news.index') }}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('user.register') }}" class="nav-link" aria-current="page">Sign up</a></li>
            <li class="nav-item"><a href="{{ url_for('user.login') }}" class="nav-link">Login</a></li>
        {% endif %}
      </ul>
  </header>
          <div class="container">
          {% if current_user.is_authenticated %}
              <div class="row">
                <div class="col-6">Hello, {{ current_user.username }}</div>
              </div>
          {% endif %}
        </div>
        <div class="container">
            {% include 'menu.html' %}
              <div class="row">
                  <div class="col-10 news-content">
                      {{ news.text|safe }}
                  </div>
              </div>
        </div>
      <div class="container">
          <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
              <div class="col-12 col-md">
                <h5>Social network</h5>
                <ul class="list-unstyled text-small">
                  <li class="mb-1"><a class="text-light bg-dark" href="https://vk.com/i.dybovsky">VK</a></li>
                  <li class="mb-1"><a class="text-light bg-dark" href="https://github.com/ilyaDyb">GitHub</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Parser/API</h5>
                <ul class="list-unstyled text-small">
                  <li class="mb-1"><a class="text-info bg-dark" href="https://www.python.org/">Parser site</a></li>
                  <li class="mb-1"><a class="text-info bg-dark" href="https://yandex.ru/dev/weather/">API Weather</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li class="mb-1"><a class="text-light bg-dark" href="#">Info</a></li>
                  <li class="mb-1"><a class="text-light bg-dark" href="#">Libs</a></li>
                </ul>
              </div>
            </div>
          </footer>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>